body {
    font-family: 'Operator SSm', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

pre {
  overflow-x: auto;
}

pre, pre code, code {
  font-family: 'Operator Mono', 'Courier New', Courier, monospace;
  font-size: 13px; 
}

pre code {
  padding: 0; 
}
